In [1]:
import os
os.environ["SPARK_HOME"]='/usr/local/spark'
import findspark
findspark.init()
import pyspark
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = (SparkSession
        .builder
        .appName("Car")
         .enableHiveSupport()
        .getOrCreate())

In [3]:
carDF = spark.read.option("samplingRatio", 0.001).option("header", "true").csv("Car_sales_details_p3.csv")

In [4]:
salesDF = spark.read.option("samplingRatio", 0.001).option("header", "true").csv("sales_Status_p3.csv")

In [5]:
stateDF = spark.read.option("samplingRatio", 0.001).option("header", "true").csv("State_region_mapping_p3.csv")

In [6]:
carDF.printSchema()

root
 |-- Sales_ID: string (nullable = true)
 |-- name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- State or Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: string (nullable = true)

In [7]:
salesDF.printSchema()

root
 |-- Sales_ID: string (nullable = true)
 |-- sold: string (nullable = true)

In [8]:
stateDF.printSchema()

root
 |-- Region: string (nullable = true)
 |-- State or Province: string (nullable = true)

In [9]:
salesDF = salesDF.withColumnRenamed("Sales_ID", "Sale_ID")

In [10]:
inner_join = carDF.join(salesDF, carDF.Sales_ID == salesDF.Sale_ID)
inner_join.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|Sale_ID|sold|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|      1|   Y|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|      2|   Y|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|      3|   Y|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|      4|   Y|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|      5|   Y|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|      6|   Y|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|      7|   Y|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|      8|   Y|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|      9|   Y|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|     10|   Y|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|     11|   Y|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|     12|   Y|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|     13|   Y|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|     15|   Y|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|     16|   Y|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|     17|   Y|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|     18|   Y|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|     19|   Y|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|     20|   Y|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|     21|   Y|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+-------+----+
only showing top 20 rows

In [11]:
inner_join=inner_join.drop('Sale_ID')

In [12]:
inner_join.show(2)

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|sold|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|   Y|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|   Y|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
only showing top 2 rows

In [13]:
inner_join = inner_join.withColumnRenamed("State or Province", "State_or_province")

In [14]:
FinalDF = inner_join.join(stateDF,inner_join.State_or_province == stateDF['State or Province'])
FinalDF.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+-------+--------------------+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|sold| Region|   State or Province|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+-------+--------------------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|   Y|   East|District of Columbia|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|   Y|   East|            New York|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|   Y|Central|            Illinois|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|Central|            Illinois|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|   Y|   East|            New York|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|   Y|   East|            New York|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|   Y|   West|          California|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|   Y|   West|          California|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|   Y|   West|          California|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|   Y|Central|               Texas|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|   Y|   East|            New York|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|   Y|Central|               Texas|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|   Y|Central|               Texas|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|   Y|   East|       Massachusetts|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|   Y|   East|       Massachusetts|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|   Y|Central|               Texas|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|Central|               Texas|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|   Y|Central|               Texas|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|   Y|   East|            New York|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|   Y|   East|            New York|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+-------+--------------------+
only showing top 20 rows

In [15]:
FinalDF=FinalDF.drop('State or Province')

In [16]:
FinalDF.printSchema()

root
 |-- Sales_ID: string (nullable = true)
 |-- name: string (nullable = true)
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- State_or_province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: string (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)

In [17]:
from pyspark.sql.functions import isnan, when, count, col
FinalDF.select([count(when(isnan(c), c)).alias(c) for c in FinalDF.columns]).show()

+--------+----+----+-------------+---------+-----------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+
|Sales_ID|name|year|selling_price|km_driven|State_or_province|City|fuel|seller_type|transmission|owner|mileage|engine|max_power|seats|sold|Region|
+--------+----+----+-------------+---------+-----------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+
|       0|   0|   0|            0|        0|                0|   0|   0|          0|           0|    0|      0|     0|        0|    0|   0|     0|
+--------+----+----+-------------+---------+-----------------+----+----+-----------+------------+-----+-------+------+---------+-----+----+------+

As there are no missing values it is displayed as 0

Preprocessing

In [18]:
carData= FinalDF.withColumn('engine', regexp_replace('engine',' CC',''))
carData= carData.withColumn('mileage', regexp_replace('mileage',' kmpl',''))
carData = carData.withColumn('mileage', regexp_replace('mileage',' km/kg',''))
carData = carData.withColumn('max_power', regexp_replace('max_power',' bhp',''))

In [19]:
carData.show(5)

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_province|         City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold| Region|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner|   23.4|  1248|       74|    5|   Y|   East|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|  21.14|  1498|   103.52|    5|   Y|   East|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner|   17.7|  1497|       78|    5|   Y|Central|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner|   23.0|  1396|       90|    5|   Y|Central|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner|   16.1|  1298|     88.2|    5|   Y|   East|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+
only showing top 5 rows

In [20]:
from pyspark.ml.feature import StringIndexer
strs=["name","State_or_province","City","fuel","seller_type","transmission","owner","seats","sold","Region"]

In [21]:
for i in strs:
        indexer = StringIndexer(inputCol=i, outputCol=i+"_index")
        carData = indexer.fit(carData).transform(carData)

In [22]:
carData.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_province|         City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold| Region|name_index|State_or_province_index|City_index|fuel_index|seller_type_index|transmission_index|owner_index|seats_index|sold_index|Region_index|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner|   23.4|  1248|       74|    5|   Y|   East|       0.0|                   33.0|       5.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|  21.14|  1498|   103.52|    5|   Y|   East|     770.0|                    2.0|       0.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         2.0|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner|   17.7|  1497|       78|    5|   Y|Central|     238.0|                    3.0|       3.0|       1.0|              0.0|               0.0|        2.0|        0.0|       1.0|         0.0|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner|   23.0|  1396|       90|    5|   Y|Central|    1536.0|                    3.0|       3.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         0.0|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner|   16.1|  1298|     88.2|    5|   Y|   East|    1056.0|                    2.0|       0.0|       1.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|  20.14|  1197|    81.86|    5|   Y|   East|     826.0|                    2.0|       0.0|       1.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|   17.3|  1061|     57.5|    5|   Y|   West|     294.0|                    0.0|       1.0|       3.0|              0.0|               0.0|        0.0|        0.0|       1.0|         1.0|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner|   16.1|   796|       37|    4|   Y|   West|    1904.0|                    0.0|       1.0|       1.0|              0.0|               0.0|        1.0|        3.0|       1.0|         1.0|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|  23.59|  1364|     67.1|    5|   Y|   West|     808.0|                    0.0|       1.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         1.0|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner|   20.0|  1399|     68.1|    5|   Y|Central|     163.0|                    1.0|      11.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         0.0|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|  19.01|  1461|   108.45|    5|   Y|   East|     121.0|                    2.0|       0.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         2.0|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner|   17.3|   993|       60|    5|   Y|Central|     390.0|                    1.0|      11.0|       1.0|              0.0|               0.0|        1.0|        0.0|       1.0|         0.0|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner|   19.3|  1248|     73.9|    5|   Y|Central|      23.0|                    1.0|      11.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         0.0|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner|   18.9|  1061|       67|    5|   Y|   East|      41.0|                   11.0|       4.0|       1.0|              0.0|               0.0|        1.0|        0.0|       1.0|         2.0|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|  18.15|  1198|       82|    5|   Y|   East|    1105.0|                   11.0|       4.0|       1.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|  24.52|  1248|     88.5|    7|   Y|Central|      76.0|                    1.0|      12.0|       0.0|              0.0|               0.0|        1.0|        1.0|       1.0|         0.0|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|   23.0|  1396|       90|    5|   Y|Central|     109.0|                    1.0|      12.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         0.0|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner|   19.7|   796|     46.3|    5|   Y|Central|      11.0|                    1.0|      12.0|       1.0|              0.0|               0.0|        1.0|        0.0|       1.0|         0.0|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|  22.54|  1396|    88.73|    5|   Y|   East|     253.0|                    2.0|       0.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|   21.0|  1461|     64.1|    5|   Y|   East|     365.0|                    2.0|       0.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         2.0|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+-------+------+---------+-----+----+-------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
only showing top 20 rows

In [23]:
carData=carData.drop('Sales_ID','name','State_or_province','City','fuel','seller_type','transmission','owner','seats','sold','Region')
carData.printSchema()

root
 |-- year: string (nullable = true)
 |-- selling_price: string (nullable = true)
 |-- km_driven: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- name_index: double (nullable = true)
 |-- State_or_province_index: double (nullable = true)
 |-- City_index: double (nullable = true)
 |-- fuel_index: double (nullable = true)
 |-- seller_type_index: double (nullable = true)
 |-- transmission_index: double (nullable = true)
 |-- owner_index: double (nullable = true)
 |-- seats_index: double (nullable = true)
 |-- sold_index: double (nullable = true)
 |-- Region_index: double (nullable = true)

In [24]:
from pyspark.sql.functions import col

In [25]:
carData = (carData
  .withColumn("year",col("year").cast(IntegerType()))
  .withColumn("mileage", col("mileage").cast(FloatType()))
  .withColumn("max_power", col("max_power").cast(FloatType()))
  .withColumn("engine", col("engine").cast(IntegerType())))

In [26]:
carData = (carData
  .withColumn("km_driven", col("km_driven").cast(IntegerType()))
  .withColumn("selling_price", col("selling_price").cast(IntegerType())))

In [27]:
carData.printSchema()

root
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- mileage: float (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: float (nullable = true)
 |-- name_index: double (nullable = true)
 |-- State_or_province_index: double (nullable = true)
 |-- City_index: double (nullable = true)
 |-- fuel_index: double (nullable = true)
 |-- seller_type_index: double (nullable = true)
 |-- transmission_index: double (nullable = true)
 |-- owner_index: double (nullable = true)
 |-- seats_index: double (nullable = true)
 |-- sold_index: double (nullable = true)
 |-- Region_index: double (nullable = true)

In [28]:
carData.show(5)

+----+-------------+---------+-------+------+---------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
|year|selling_price|km_driven|mileage|engine|max_power|name_index|State_or_province_index|City_index|fuel_index|seller_type_index|transmission_index|owner_index|seats_index|sold_index|Region_index|
+----+-------------+---------+-------+------+---------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
|2014|       450000|   145500|   23.4|  1248|     74.0|       0.0|                   33.0|       5.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
|2014|       370000|   120000|  21.14|  1498|   103.52|     770.0|                    2.0|       0.0|       0.0|              0.0|               0.0|        1.0|        0.0|       1.0|         2.0|
|2006|       158000|   140000|   17.7|  1497|     78.0|     238.0|                    3.0|       3.0|       1.0|              0.0|               0.0|        2.0|        0.0|       1.0|         0.0|
|2010|       225000|   127000|   23.0|  1396|     90.0|    1536.0|                    3.0|       3.0|       0.0|              0.0|               0.0|        0.0|        0.0|       1.0|         0.0|
|2007|       130000|   120000|   16.1|  1298|     88.2|    1056.0|                    2.0|       0.0|       1.0|              0.0|               0.0|        0.0|        0.0|       1.0|         2.0|
+----+-------------+---------+-------+------+---------+----------+-----------------------+----------+----------+-----------------+------------------+-----------+-----------+----------+------------+
only showing top 5 rows

In [29]:
from pyspark.ml.feature import VectorAssembler, StandardScaler
carData.columns

['year',
 'selling_price',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'name_index',
 'State_or_province_index',
 'City_index',
 'fuel_index',
 'seller_type_index',
 'transmission_index',
 'owner_index',
 'seats_index',
 'sold_index',
 'Region_index']

In [30]:
assembler = VectorAssembler(
    inputCols=['year',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'name_index',
 'State_or_province_index',
 'City_index',
 'fuel_index',
 'seller_type_index',
 'transmission_index',
 'owner_index',
 'seats_index',
 'sold_index',
 'Region_index'],
    outputCol="features")

In [31]:
output = assembler.transform(carData)

In [32]:
out=output.select("features","selling_price")
out.show()

+--------------------+-------------+
|            features|selling_price|
+--------------------+-------------+
|[2014.0,145500.0,...|       450000|
|[2014.0,120000.0,...|       370000|
|[2006.0,140000.0,...|       158000|
|[2010.0,127000.0,...|       225000|
|[2007.0,120000.0,...|       130000|
|[2017.0,45000.0,2...|       440000|
|[2007.0,175000.0,...|        96000|
|[2001.0,5000.0,16...|        45000|
|[2011.0,90000.0,2...|       350000|
|[2013.0,169000.0,...|       200000|
|[2014.0,68000.0,1...|       500000|
|[2005.0,100000.0,...|        92000|
|[2009.0,140000.0,...|       280000|
|[2009.0,90000.0,1...|       180000|
|[2016.0,40000.0,1...|       400000|
|[2016.0,70000.0,2...|       778000|
|[2012.0,53000.0,2...|       500000|
|[2002.0,80000.0,1...|       150000|
|[2016.0,100000.0,...|       680000|
|[2011.0,100000.0,...|       174000|
+--------------------+-------------+
only showing top 20 rows

In [33]:
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.regression import RandomForestRegressionModel, RandomForestRegressor

In [34]:
scaler = StandardScaler(inputCol="features", outputCol="scaledfeatures")

In [35]:
scale = scaler.fit(out).transform(out)
scaled_data=scale.select("scaledfeatures","selling_price")

In [36]:
scaled_data.show(5)

+--------------------+-------------+
|      scaledfeatures|selling_price|
+--------------------+-------------+
|[521.262631612101...|       450000|
|[521.262631612101...|       370000|
|[519.192074982062...|       158000|
|[520.227353297081...|       225000|
|[519.450894560817...|       130000|
+--------------------+-------------+
only showing top 5 rows

In [61]:
(train, test) = scaled_data.randomSplit([0.8, 0.2])

In [62]:
rf = RandomForestRegressor(numTrees=150).setLabelCol("selling_price").setFeaturesCol("scaledfeatures")

In [63]:
random_forest=rf.fit(train)

In [64]:
test_results = random_forest.transform(test)
test_results.show()

+--------------------+-------------+------------------+
|      scaledfeatures|selling_price|        prediction|
+--------------------+-------------+------------------+
|(15,[0,1,2,3,4,5,...|       355000| 336096.9543359037|
|(15,[0,1,2,3,4,5,...|       220000| 288111.8414381165|
|(15,[0,1,2,3,4,5,...|       215000| 284750.2934464828|
|(15,[0,1,2,3,4,5,...|       270000|370746.54979874415|
|(15,[0,1,2,3,4,5,...|       204999|284066.73966344824|
|(15,[0,1,2,3,4,5,...|       370000|376673.82850198325|
|(15,[0,1,2,3,4,5,...|       425000|424049.58456539834|
|(15,[0,1,2,3,4,5,...|       200000| 357862.9519864981|
|(15,[0,1,2,3,4,5,...|       295000| 423737.1572032895|
|(15,[0,1,2,3,4,5,...|       229999| 302947.0804613739|
|(15,[0,1,2,3,4,5,...|       290000| 330742.6363601765|
|(15,[0,1,2,3,4,5,...|       229999|308238.18206543056|
|(15,[0,1,2,3,4,5,...|       200000| 367453.4590237305|
|(15,[0,1,2,3,4,5,...|       615000| 443070.7224159461|
|(15,[0,1,2,3,4,5,...|       295000| 363692.6016400846|
|(15,[0,1,2,3,4,5,...|       451000| 316932.6523946545|
|(15,[0,1,2,3,4,5,...|       450000| 545954.0469061957|
|(15,[0,1,2,3,4,5,...|       580000| 618919.3493746374|
|(15,[0,1,2,3,4,5,...|       425000|496004.91233623365|
|(15,[0,1,2,3,4,5,...|       650000| 534434.2749868844|
+--------------------+-------------+------------------+
only showing top 20 rows

RMSE

In [65]:
evaluator1 = RegressionEvaluator().setLabelCol("selling_price").setPredictionCol("prediction").setMetricName("rmse")

In [66]:
rmse = evaluator1.evaluate(test_results)
rmse

181559.60487681124

R2-score

In [67]:
evaluator2 = RegressionEvaluator().setLabelCol("selling_price").setPredictionCol("prediction").setMetricName("r2")

In [68]:
r2 = evaluator2.evaluate(test_results)
r2

0.9469430070765242

In [69]:
evaluator3 = RegressionEvaluator().setLabelCol("selling_price").setPredictionCol("prediction").setMetricName("mse")

In [70]:
mse = evaluator3.evaluate(test_results)
mse

32963890123.023823